# Ignore node_modules
/node_modules

# Ignore videos
/cypress/videos/*

# Ignore screenshots
/cypress/screenshots/*

# Ignore reports
/cypress/results/*

# Ignore mochawesome
/mochawesome-report
mochawesome.json